<div class="panel panel-primary"
     ng-controller="ChampionsCtrl as vm">
    <div class="panel-heading"
         style="font-size:large">
        Champions List
    </div>

    <div class="panel-body" style="background-color:aliceblue">
        <div class="form-group">
            <label for="usr">Search Champion</label>            
            <input type="text" class="form-control" id="sumname" ng-model="vm.searchChampion">           
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead style="font-weight:bold">
                    <tr>
                        <td></td>
                        <td>Champion</td>
                        <td>Q</td>
                        <td>W</td>
                        <td>E</td>
                        <td>R</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="champion in vm.champions | filter:vm.searchChampion">
                        <td> <div ng-style="{'height':'{{champion.image.h}}px','width':'{{champion.image.w}}px','background':'url({{champion.image.url}}) -{{champion.image.x}}px -{{champion.image.y}}px'}" />  </td>
                        <td><b>{{ champion.name}}</b><br />{{champion.title}}</td>
                        <td ng-repeat="spell in champion.spells" title="{{spell.description}}">
                            {{spell.name}}<br /> <b>{{ spell.cooldown }}</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>